.sign-up-container {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 15px gray;
}

.form-menu {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0%;
    background-color: rgb(68, 67, 65);
    transition: 750ms;
}

.form-menu-changed {
    right: 60%;
}

.form-menu h2 {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    transition: 250ms;
}

.form-menu h3 {
    font-weight: 300;
    color: white;
    margin-left: 50px;
    margin-top: 15px;
    transition: 250ms;
}

.form-menu button {
    width: 250px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    background: none;
    padding: 20px;
    margin-left: 50px;
    margin-top: 150px;
    cursor: pointer;
    transition: 250ms;
}

.form-menu button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(68, 67, 65);
}


/*mobile*/

@media screen and (max-width: 1350px) {
    .sign-up-container{
        margin-top: 50px;
        height: 65vh;
    }

    .form-menu button{
        margin-top: 80px;
    }
}