.login-form {
    position: absolute;
    left: 0%;
}

.login-form label {
    color: rgb(188, 188, 188);
    width: 100%;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
}

.login-form input {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(188, 188, 188);
    animation: fadeInLoginForm 500ms;
}

.login-form input::placeholder {
    color: rgb(188, 188, 188);
    font-size: 1.4rem;
}

.login-form button {
    width: 250px;
    margin-left: 50px;
    margin-top: 70px;
    padding: 20px 20px;
    background-color: rgb(151, 115, 101);
    color: white;
    font-weight: bold;
    transition: 250ms;
    animation: fadeInLoginFormBtn 800ms;
}

.login-form button:hover {
    width: 260px;
}

.auth-error {
    position: absolute;
    width: 400px;
    top: 5px;
    left: 50px;
    right: 0px;
    margin: auto;
    font-size: 1.2rem;
    padding: 10px;
    background-color: rgba(245, 56, 56, 0.932);
    color: white;
}

/*animations*/
@keyframes fadeInLoginForm {
    0% {
        opacity: 0;
        margin-left: -50px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fadeInLoginFormBtn {
    0% {
        opacity: 0;
        margin-left: 0px;
    }

    100% {
        opacity: 1;
        margin-left: 50px;
    }
}

/*querys*/
@media screen and (max-width: 850px) {
    .login-form {
        width: 100%;
        height: 60%;
        bottom: 0%;
    }

    .login-form button {
        margin-top: 10px;
    }

    .login-form input {
        width: 110%;
    }

    .login-form label {
        width: 50%;
    }
}